<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunrise_system.myageapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Seireki_Activity"
            android:label="My Age App" />
        <activity
            android:name=".Wareki_Activity"
            android:label="My Age App" />
        <activity
            android:name=".Seireki_Age_Activity"
            android:label="My Age App" />
        <activity
            android:name=".Wareki_Age_Activity"
            android:label="My Age App" />
        <activity android:name=".ErrorActivity"
            android:label="My Age App" />
    </application>

</manifest>